<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Unlock AI's potential with free, comprehensive tutorials and courses on Brainiac. From beginners to experts, master AI tools across various industries and disciplines."
    />
    <meta
      name="keywords"
      content="AI tutorials, free AI courses, AI tools tutorials, learn AI for free, AI education platform, AI tools for beginners, advanced AI tutorials, AI in business, AI productivity tools, AI marketing tools, AI design tools, AI coding tools, AI content creation tools, free AI resources, artificial intelligence tutorials, AI programming tutorials, AI software tutorials, AI tools for data science, AI tools for automation, AI for healthcare tutorials, AI for finance tutorials, AI for marketing tutorials, AI for education tutorials, AI for engineering tutorials, AI for creative industries, AI for business transformation, AI tools for video editing, AI tools for content creation, AI tools for social media, AI tools for project management, AI tools for customer service, AI tools for data analysis, AI tools for sales optimization, AI for students, AI for professionals, AI for entrepreneurs, AI for developers, AI for marketers, AI for designers, AI for educators, how to use AI tools for business, best AI tools for startups, free AI tutorials for beginners, advanced AI courses online, comprehensive AI learning resources, AI tools for improving productivity, AI tools for marketing automation, AI-powered design tools tutorials, latest AI tools and technologies, AI advancements in 2024, AI trends in various industries, emerging AI technologies, cutting-edge AI tools"
    />
    <meta name="author" content="Rahul Kumar" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZoroAi</title>
    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      href="/images/favicon/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/images/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/images/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/images/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/images/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/images/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/images/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/images/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/images/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/favicon/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <!-- FAVICON -->

    <link rel="stylesheet" href="/stylesheets/home.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>

  <body>
    <section class="hero-sect">
      <div class="main">
        <div class="header" >
          <div class="logo">
            <img src="/images/zoro.png" alt="" />
            <h2>OROAI</h2>
          </div>
          <div class="nav">
            <ul>
              <li><a href="">Home</a></li>
              <li><a id="feedback">Feedback</a></li>
            </ul>
          </div>
        </div>

        <div class="hero">
          <div class="txt">
            <h1>Discover AI Tools to Level Up Your Skills</h1>
            <p>
              A comprehensive hub of AI tools with tutorials tailored for
              professionals and beginners. Learn, grow, and excel in your field.
            </p>

            <div class="switches-container">
              <input
                type="radio"
                id="switchMonthly"
                name="switchPlan"
                value="Tutorials"
                checked="checked"
              />
              <input
                type="radio"
                id="switchYearly"
                name="switchPlan"
                value="Tools"
              />

              <label for="switchMonthly">Tools</label>
              <label for="switchYearly">Tutorials</label>
              <div class="switch-wrapper">
                <div class="switch">
                  <div>Tools</div>
                  <div id="tool">Tutorials</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/images/ani-1 (4).gif" alt="Animation 2" />
              </div>

              <div class="swiper-slide">
                <img src="/images/ani-1 (2).gif" alt="Animation 4" />
              </div>

              <div class="swiper-slide">
                <img src="/images/ani-1 (3).gif" alt="Animation 1" />
              </div>

              <div class="swiper-slide">
                <img src="/images/ani-1 (1).gif" alt="Animation 4" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="search-sect">
      <h1 class="choose-category">Choose the relevant category</h1>

      <div class="cat-BTN">
        <button data-name="all" class="active">all</button>
        <button data-name="Generative" class="hidden">Generative</button>
        <button data-name="Chatbot">Chatbot</button>
        <button data-name="Editing">Editing</button>
        <button data-name="Productivity">Productivity</button>
        <button data-name="Design">Design</button>
        <button data-name="Development">Development</button>
        <button data-name="Business">Business</button>
        <button data-name="Voice">Voice</button>
        <button data-name="Marketing">Marketing</button>
        <button data-name="Healthcare">Healthcare</button>
        <button data-name="Education">Education</button>
        <button data-name="Analytics">Analytics</button>
        <button data-name="Finance" class="hidden">Finance</button>
        <button data-name="Security">Security</button>
        <button data-name="Game Development">Game Development</button>
        <button data-name="Others" id="others" style="display: none">
          Others
        </button>
      </div>
    </section>

    <section id="yearlyContent" class="toggle-content">
      <div class="tute-con" id="tute-container">
        <div class="tutes" id="tutes-list">
          <%tutorials.forEach(function(tutorial) { %>
          <div class="tute" data-name="<%= tutorial.dataName %>">
            <img src="<%= tutorial.img %>" alt="<%= tutorial.h3 %>" />
            <h1>
              <a class="link" href="<%= tutorial.isrc %>">
                <%= tutorial.h3 %>
              </a>
            </h1>
            <button
              class="view-btn"
              onclick="window.location.href='<%= tutorial.isrc %>'"
            >
              View<i class="ri-arrow-right-line"></i>
            </button>
          </div>
          <% }) %>
        </div>
      </div>
    </section>

    <section id="monthlyContent" class="toggle-content active01">
      <div class="tools">
        <%tools.forEach(function(tool) { %>
        <div class="tool" data-name="<%= tool.dataName %>">
          <img src="<%= tool.img %>" />
          <h3>
            <a href="<%= tool.link %>" target="_blank"><%= tool.name %></a>
          </h3>
          <h4><%= tool.rating %><i class="ri-star-fill"></i> Rating</h4>
          <hr />
          <p><%= tool.para %></p>
          <button>View</button>
        </div>
        <% }) %>
      </div>
    </section>

    <section class="feed-form">
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
            We appreciate your feedback, suggestions, or greetings. 
            Feel free to contact us as your input matters. 
            Help us enhance your ZoroAi experience!
          </p>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form
            action="https://formspree.io/f/xyyrvrnw"
            method="POST"
            autocomplete="off"
          >
            <i class="ri-close-circle-line" id="closeForm"></i>

            <h3 class="title">Feedback us</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" />
              <label for="">Username</label>
              <span>Username</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>

            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">Message</label>
              <span>Message</span>
            </div>
            <input type="submit" value="Send" class="btn" />
          </form>
        </div>
      </div>
    </section>
  </body>

  <!-- ALL SCRIPTS -->

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      loop: true,
    });
  </script>

  <!-- FILTER -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const filterbtn = document.querySelectorAll(".cat-BTN button");

      const filterItems = (containerSelector, itemSelector) => {
        const items = document.querySelectorAll(
          `${containerSelector} ${itemSelector}`
        );
        filterbtn.forEach((button) => {
          button.addEventListener("click", (e) => {
            document
              .querySelector(".cat-BTN .active")
              .classList.remove("active");
            e.target.classList.add("active");

            items.forEach((item) => {
              item.classList.add("hide");
              const dataNames = item.dataset.name.split(",");
              if (
                dataNames.includes(e.target.dataset.name) ||
                e.target.dataset.name === "all"
              ) {
                item.classList.remove("hide");
              }
            });
          });
        });
      };

      filterItems("#yearlyContent", ".tute");
      filterItems("#monthlyContent", ".tool");
    });
  </script>

  <!-- MENU -->
  <script>
    const menu = document.querySelector(".ri-menu-3-line");
    menu.addEventListener("click", () => {
      const resNav = document.querySelector(".resnav");
      resNav.style.display = "inline";
    });

    const close = document.querySelector(".ri-close-circle-fill");
    close.addEventListener("click", () => {
      const resNav = document.querySelector(".resnav");
      resNav.style.display = "none";
    });
  </script>

  <!-- SWITCH-BOTTON -->
  <script>
    const hidden = document.querySelectorAll(".hidden");

    function toggleContent() {
      const tutorialsRadio = document.getElementById("switchMonthly");
      const toolsRadio = document.getElementById("switchYearly");
      const monthlyContent = document.getElementById("monthlyContent");
      const yearlyContent = document.getElementById("yearlyContent");
      const switchContainer = document.querySelector(".switches-container");
      const tool = document.querySelector("#tool");

      if (tutorialsRadio.checked) {
        monthlyContent.classList.add("active01");
        yearlyContent.classList.remove("active01");
        document.getElementById("others").style.display = "none";
        hidden.forEach((element) => {
          element.style.display = "inline";
        });
      } else if (toolsRadio.checked) {
        yearlyContent.classList.add("active01");
        monthlyContent.classList.remove("active01");
        document.getElementById("others").style.display = "inline";
        hidden.forEach((element) => {
          element.style.display = "none";
        });
      }
    }

    document
      .getElementById("switchMonthly")
      .addEventListener("change", toggleContent);
    document
      .getElementById("switchYearly")
      .addEventListener("change", toggleContent);
  </script>

  <!-- FORM -->
  <script>
    let contact = document.getElementById("feedback");
    let closeForm = document.getElementById("closeForm");
    let Form = document.getElementsByClassName("feed-form");
    contact.addEventListener("click", function () {
      Form[0].style.display = "block";
      document.body.style.overflow = "hidden";
    });

    closeForm.addEventListener("click", function () {
      Form[0].style.display = "none";
      document.body.style.overflow = "";
    });
  </script>
</html>
